.info{

   display: grid;
    justify-content: center;
    padding: 10px;
    
    margin-left: 30% ;
    background-color: #e7e4d5;
    line-height: 1;
    
    display: inline-block;
    white-space: nowrap; /*if screen is too small it will wrap the sentence into the next line */
    text-overflow: ellipsis; /*if the text is too large it will show dotted lines */
}
.description{
    font-weight: 800;
    display: flex;
    margin-right: 100px;
    background-color: #e7e4d5;
    margin-left: 190px;
    line-height: 1;
    transform: translateX(30%);
    

   
}
.time{
    font-weight: 10;
    font-size: small;
    color: gray;
    margin-left: 1px;
    background-color: #e7e4d5;
    
}
.title{
    font-size: small;
    color: gray;
    background-color: #e7e4d5;
    margin-left: 50px;

}
.dailycardinfo{
    line-height: 1;
}
