.icons{
    display: flex;
    align-items: center;
    
    text-decoration: none;
    color: black;
    margin: 0 1em;
    
}
.icons > Link{
    margin: 10px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 01em 1em;
}
.noti{
    margin: 20px;
}
.mail{
    margin: 20px;
}
.calender{
    margin: 20px;
}