
.btn{
    display: flex;
    position: absolute;
   justify-content: center;
    margin-left: 40%;
    border: none;
    font-size: 1.3em;
   margin-top: 20px;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: lightgreen;
    border-radius: 2em;
    align-items: center;
    background-image: white;
    line-height: 1;


    
}
.grid{
    border: none;
    display: flex;
    background-color: black;
    color: white;
    margin-top: -27px;
    align-items: flex-end;
    position: absolute;
    margin-left: 90%;
    padding: 2;
    transform: translateX(-50%);
    line-height: 1;
    
}

.span{
    background-color: lightgreen;
    color: white ;
    padding: 2px;
    align-items: center;
}
.icon{
    background-color: lightgreen;
    color: white;
    align-items: center;
}
.icon2{
    background-color: black;
}
.sheet-color{
    background-color: red;
}
.loader{
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 20%;
    font-size: xx-large
  
}