.newroom{
    
    display: flex;
    justify-content: space-between;
    padding: -1.5px;
    align-items: center;
    line-height: 1;
    overflow: auto;
}
.profile{
    transform: translateX(750%);
    margin-bottom: 35%;
    
}
.newroom span{
    transform: translateX(-370%);
    margin-bottom: 35%;
  
   
   
   
}
.arrow-down{
    margin-bottom: 35%;
}
.file{
    transform: translateX(2750%);
    margin-bottom: 35%;
}
.speaker-pic{
    display: flex;
    
    height: 100px;

    width: 100px;
    transform: translateY(100%);
    transform: translateX();
    overflow: auto;
}
.speakers{
    width: 60px;
    height: 60px;
}
.speaker-speak{
    display: flex;
    flex-direction: column;
     
    justify-content: center;
    align-items: center;
  
    margin-right: 30%;
    transform: translateX(-200%);

    height: 40vh;

   

}
.speaker-speak img{
    width: 70px;
    border-radius: 1.7em;
    box-shadow: 1px 2px 4px #cccc;

     
}
.mic-off{
    color: black;
    position: absolute;
    width: 25px;
    height: 25px;
    transform: translateY(20%);
    border-radius: 50%;
    box-shadow: 1px 2px 3px #cccc ;
}
.footer-elements{
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    margin: 5px;

    
}
.leave{
    left: 0;
    transform: translateX(-950%);
    
}
.footer-elements button{
    background-color: #e7e4d5;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.footer-elements span{
    background-color: #e7e4d5;
    color: rgb(82, 212, 82);
}
.add{
    background-color: #e7e4d5;
}
.pan{
    background-color: #e7e4d5;
    border: none;

}
.mic-on{
    background-color: #e7e4d5;
}
.footer-elements button :nth-child(2){
    margin: 10px;
    margin-right: 50px;
    color: red;
}


