.otp{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.otp > p{
    display: flex;
    margin-top: 60px;

    justify-content: space-evenly;
    position: absolute;

}
.input{
    
    position: absolute;
    background-color: white;
    text-align: center; /*you write from the middle in the input box*/
}
.notification {
    position: absolute;
    margin-top: 85px;
    text-decoration: none;
    color: inherit;
    display: flex;
    border-radius: 20px;
    background-color: aqua;
    animation: next 2s infinite ; 
    animation-direction: alternate;

}
@keyframes next {
    from{
        width: 0px;
    }
    to{
        width: 50px;
    }
    
}