.allow-notification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.allow-notification > h1{
    display: flex;
    margin-left: 30%;
    margin: auto;
    justify-content: space-between;
    margin-top: 5%;

}
.notification-container > h2{
    background-color: white;
    display: flex;
    color: black;
}
.notification-container > h3{
    background-color: white;
}
.notification-container{
    display: flex;
    flex-direction: column;
    border-radius: 3em;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    border-color: white;
    margin: auto;
    box-shadow: 2px 2px 2px gray;
}
.hand{
    max-width: 80px;
    
    margin: auto;
    left: 20px;
    margin-left: 70px;

    

}
.A11{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    margin-left: 30%;
    margin: auto;
    color: blue;
    
    background-color: white;
    padding : 2px;
    border-top: 1px solid lightgray;
}
.A12{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    margin-left: 30%;
    margin: auto;
    color: blue;
    
    background-color: white;
    padding : 2px;
    border-top: 1px solid lightgray;


}