.phone-confirm{
    display: flex;
    padding: 3em 1.7em;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}
.phone-confirm > p {
    margin-top: 100px;
}
.next{
    color: inherit;
    text-decoration: none;
    margin-top: 50px;
    display: flex;
    
    background-color: aqua;
    border-radius: 20px;
    border-width: 20px;
}
