.infocard{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    
    padding: 10px;
    border: none;
    margin-top: 0.5em;
    line-height: 1;
    flex-shrink:inherit;
    margin-left: 375px;
    margin-right: 33%;


}
.infocard > h5{
    display: flex;
    background-color: white;
    font-weight: 100
    ;
    font-size: 0.675em;
}
.infocard > h2 {
    background-color: white;
    font-weight: 900;
    line-height: 1
    ;
    font-size: 0.975em;
}
.member img {
    
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: white;
   
    


}
.member img:nth-child(2){
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}
.member{
    background-color: white;
    display: flex;
    flex-direction: row;
    
    
}
.member-count{
    background-color: white;
}
.member-name{
    background-color: white;
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    margin-right: 20px;


}
.firstname{
    background-color: white;
    margin-left: 50px;
   
}
.person-count{
    background-color: white;
    margin-left: 50px;
}