.switch-line{
    position: absolute;
    top: 6px;
    background-color: grey;
 
height: 4px;
width: 30px;
margin-left: 50%

}
.topic-btn{
    border: none;
    color: #28ae61;
    padding: 20px;
}

.buttons{
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom : 20px black;
    padding: 1.5em ;
}
.buttons button{
    border: none;
    line-height: 1;
    display: flex;
    flex-direction: column;
}
.buttons button:hover{

    border: 1px lightgreen;
}
.open:hover{
    border: 1px lightgreen;
    
}
.open-1:hover{
    font-size: 4em;
    background-color: lightseagreen;
    display: flex;
  
    
}
.social-1:hover{
    font-size: 4em;
    background-color: lightseagreen;
}
.closed-1:hover{
    font-size: 4em;
    background-color: lightseagreen;
}
.para{
    color: grey;
    align-items: center;
    justify-content: center;
    transform: translateX(40%);
    font-weight: 800;
    
}
.para span{
    font-weight: 800;
}
.switch-line2{
    position: absolute;
    top: 6px;
    background-color: grey;
    
height: 0.5px;
width: 1000px;

margin-left: 50%;
transform: translateY(-40%);
margin-top: 15%;


}
.letgobtn{
    border: none;
    font-size: 1.3em;
    font-weight: 500;
    border-radius: 20px;
    border: 5px 5px 5px green;
    background-color: #28ae00
    ;
    color: white;
    justify-content: center;
    transform: translateX(550%);
    margin-bottom: 4px;
}
.open span{
    font-size: x-large;

}
.social span{
    font-size: x-large;
}
.closed span{
    font-size: x-large;
}
.open{
    margin-left: 40px;

}
.closed{
    margin-right: 40px;
}