*{
    background-color: lightyellow;
    font-weight: 400;
}
.welcome{
    padding: 50px;
    margin: 2px;
    font-weight: 400;
}
.welcome > h2{
    font-weight: 1000;
}
.welcome_info{
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    overflow: auto; /*to add a scroll if large para's*/

}
.welcome_username > a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: row;


}
.username{
    background-color: rgb(4, 169, 169);
    border-radius: 20px;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    
    

}

.invite_link{
    justify-content: center;
    font-size: small;
    padding: 10px;
}

